# node_modules
node_modules

# Test coverage
coverage/
.coverage
*.lcov
*.lcov.info

# Secrets
# *.env
ngrok.yml

# Java
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#*.tar
*.class
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# vs code
.vscode/
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
StockFellow.code-workspace

# OS
.DS_Store
Thumbs.db

# logs
*.log

# temp files
*.temp
*.tmp 
*~
.env
.turbo
.env.drop*
.turbo

# deployment
deploy-config.sh
start.sh
stop.sh
stockfellow-9e*.json
save/
.env.save

# expo
.expo/